{% extends "layout.html" %}

{% block content %}
  <h2 class="content-subhead">Search</h2>

  <form action="{{ url_for('search') }}" method="get">
    <input name="query" value="{{ query }}" />
    <button type="submit">Search</button>
  </form>

  {% if query %}
    {% if results | length == 0 %}
      <p>No users matching that description.</p>
    {% else %}
      <h2 class="content-subhead">Results for '{{ query }}'</h2>
        <ul>
          {% for result in results %}
            <li>
              <h4>
                <a href="{{ url_for('profile', query=query) }}">
                {{ result.key()}}
                </a>
              </h4>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endif %}

{% endblock content %}